<div xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer" class="mt-4 py-3 px-4" style="text-align: center;">
        <hr>
        <div class="footer-links mb-1">
            <a th:href="@{/updates}" style="margin:0 0.5rem;">What’s new</a>
            <a th:href="@{/privacy-policy.html}" style="margin:0 0.5rem;">Privacy Policy</a>
            <a th:href="@{/terms-of-service.html}" style="margin:0 0.5rem;">Terms of Service</a>
        </div>
        <small>
            © 2026 QuickLink · Contact: 📩 petre.hertea@gmail.com
        </small>
    </footer>

</div>
